body {
  background-color: black;
}
body > div{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px
}
.about {
  width: 8%;
  position: fixed;
  top: 45%;
  left: 8%;
  opacity: 0.5;
  transform: rotate(-10deg);
  border: 10px solid white;
  border-bottom: 20px solid white;
  padding: 0px;
}
.about:hover {
  opacity: 1;
}
#ram {
  position: fixed;
  bottom: 60px;
  left: 5px;
  width: 100px;
}
#eva {
  position: fixed;
  width: 20%;
  top: 15%;
  left: 40%;
  border: 15px solid white;
  border-bottom: 40px solid white;
}
#couch {
    position: fixed;
    width: 100%;
    height: auto;
}
.horse {
  position: fixed;
  width: 18%;
  top: 12%;
  left: 18%;
  opacity: 0.5;
}
a > img {
  width: 100%;
}
.horse:hover {
  opacity: 1;
}
.funny {
  position: fixed;
  width: 18%;
  top: 12%;
  left: 40%;
  opacity: 0.5;
}
.funny:hover {
  opacity: 1;

}
.table {
  position: fixed;
  width: 18%;
  top: 12%;
  left: 62%;
  opacity: 0.5;
}
.table:hover {
  opacity: 1;
}
.squares {
  position: fixed;
  width: 18%;
  top: 42%;
  left: 28%;
  opacity: 0.5;
  
}
.squares:hover {
  opacity: 1;
}
.bright {
  position: fixed;
  top: 42%;
  width: 18%;
  left: 53%;
  opacity: 0.5;
}
.bright:hover {
  opacity: 1;
}
.om {
  position: fixed;
  background-color: black;
  width: 60%;
  height: 15%;
  bottom: 10%;
  left: 20%;
}
p {
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
