body {
  background-color: black;
}
body > div{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px
}
body > div > img {
    width: 100%;
    height: auto;
}
.horse {
  position: absolute;
  top: 8em;
  left: 22em;
  opacity: 0.5;
}
a > img {
  width: 300px;
}
.horse:hover {
  opacity: 1;
}
.funny {
  position: absolute;
  top: 8em;
  left: 50em;
  opacity: 0.5;
}
.funny:hover {
  opacity: 1;

}
.table {
  position: absolute;
  top: 8em;
  left: 76em;
  opacity: 0.5;
}
.table:hover {
  opacity: 1;
}
.squares {
  position: absolute;
  top: 24em;
  left: 36em;
  opacity: 0.5;
  
}
.squares:hover {
  opacity: 1;
}
.bright {
  position: absolute;
  top: 24em;
  left: 63em;
  opacity: 0.5;
}
.bright:hover {
  opacity: 1;
}
