.firstList {
    background-color: pink;
    width: 600px;
    border: 2px solid goldenrod;
    margin: 20px;
}
ul {
    list-style-type: none;
}
.secondList {
    position: relative;
    display: none;
    opacity: 0;
    visibility: hidden;
    
    background-color: goldenrod;
    width: auto;
    font-size: 0.7em;
    margin: 20px;
}
li:hover > ul.secondList {  /* 0022 */
    visibility: visible;
    opacity: 1; 
    display: block;
    /*transition: visibility 5s, opacity 0.5s linear, display 5s;*/
}
li {
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace
}
.underline:hover {
    text-decoration: underline;
}
